*.egg-info
*.pyc
dist
build
.idea
corvus_web.egg-info
.tox
.testrepository
.cache

.tern-project
node_modules
assets/bower_components

corvus_web/static/vendor.*
corvus_web/static/app.js
corvus_web/static/style.css

.vagrant
